/* ----- General ----*/
.svg_con{margin: 40px auto;width: 100%; position: relative;}

.intro {margin-top: 20px;}
.intro h1{text-align: center; font-size: 24px; color: #858688;font-weight: normal;}
.svg_map{display: block; width: 100%; }


#CN,#US{fill:#07C1E4; }
/*#CN:hover,#US:hover{fill:#07C1E4; cursor: pointer;}*/

/* ---- Team section  ---- */
.teamContainer{position: relative;}

/* ---- Team Bio Section  -----*/
#team-ah, #team-dd, #team-al, #team-kc, #team-fw{
	position: absolute;
	display: none;border: #ccc 1px solid;
	top:150px;
	left: 80px;
	border-radius: 5px;
	padding: 20px;
	width: 50%;
	color: #fff;}
#team-ah h3, #team-dd h3, #team-al h3, #team-kc h3, #team-fw h3{margin-top: 0;
	font-size: 32px;}

#avatar-ah:hover #team-ah {display: block;}
@media only screen and (max-width: 768px) {
	.intro h1{font-size: 20px; }
}

@media only screen and (max-width: 350px) {
	.intro h1{font-size: 14px;}
}